In [1]:
import table

In [2]:
belegung_file = "./resources/belegung.csv"
raum_file = "./resources/raum.csv"

In [3]:
belegung = table.Table("Belegung", belegung_file)
raum = table.Table("Raum", raum_file)

In [4]:
belegung.present()
raum.present()

+--------------------------+--------+-----+---------+----------+
|         Kuerzel          |  Raum  | Tag | Uhrzeit | Semester |
+--------------------------+--------+-----+---------+----------+
|  Di_10_12_Z6_HS4_SS_19   | Z6_HS4 |  Di |  10_12  |  SS_19   |
|   Do_8_10_Z6_HS4_SS_19   | Z6_HS4 |  Do |   8_10  |  SS_19   |
|  Di_10_12_Z6_HS4_SS_18   | Z6_HS4 |  Di |  10_12  |  SS_18   |
|   Do_8_10_Z6_HS4_SS_18   | Z6_HS4 |  Do |   8_10  |  SS_18   |
| Mi_14_16_Z6_HS1_WS_19_20 | Z6_HS1 |  Mi |  14_16  | WS_19_20 |
| Mi_16_18_Z6_HS1_WS_19_20 | Z6_HS1 |  Mi |  16_18  | WS_19_20 |
| Mi_14_16_Z6_HS1_WS_18_19 | Z6_HS1 |  Mi |  14_16  | WS_18_19 |
| Mi_16_18_Z6_HS1_WS_18_19 | Z6_HS1 |  Mi |  16_18  | WS_18_19 |
+--------------------------+--------+-----+---------+----------+
+---------+------+---------+
| Kuerzel | Raum | Groesse |
+---------+------+---------+
|  Z6_HS4 |  Z6  |  600.0  |
|  Z6_HS1 |  Z6  |  200.0  |
+---------+------+---------+

In [5]:
super_table = belegung.join('Raum', raum, 'Kuerzel')

Specified field name does not exist.

TypeError: list indices must be integers or slices, not NoneType

In [11]:
super_table.present()

+--------------------------+--------+-----+---------+----------+----------+---------+
|         Kuerzel          |  Raum  | Tag | Uhrzeit | Semester | Raum.Tag | Groesse |
+--------------------------+--------+-----+---------+----------+----------+---------+
|  Di_10_12_Z6_HS4_SS_19   | Z6_HS4 |  Di |  10_12  |  SS_19   |    Z6    |  600.0  |
|   Do_8_10_Z6_HS4_SS_19   | Z6_HS4 |  Do |   8_10  |  SS_19   |    Z6    |  600.0  |
|  Di_10_12_Z6_HS4_SS_18   | Z6_HS4 |  Di |  10_12  |  SS_18   |    Z6    |  600.0  |
|   Do_8_10_Z6_HS4_SS_18   | Z6_HS4 |  Do |   8_10  |  SS_18   |    Z6    |  600.0  |
| Mi_14_16_Z6_HS1_WS_19_20 | Z6_HS1 |  Mi |  14_16  | WS_19_20 |    Z6    |  200.0  |
| Mi_16_18_Z6_HS1_WS_19_20 | Z6_HS1 |  Mi |  16_18  | WS_19_20 |    Z6    |  200.0  |
| Mi_14_16_Z6_HS1_WS_18_19 | Z6_HS1 |  Mi |  14_16  | WS_18_19 |    Z6    |  200.0  |
| Mi_16_18_Z6_HS1_WS_18_19 | Z6_HS1 |  Mi |  16_18  | WS_18_19 |    Z6    |  200.0  |
+--------------------------+--------+-----+---------+----------+----------+---------+

In [1]:
import query as qu

In [2]:
test_query = qu.Query()

In [3]:
query = "Select Raum.kurzel, Belegung.tag, Belegung.uhrzeit " \
        "From Belegung, Raum " \
        "Where Belegung.raum = Raum.kuerzel " \
        "And Raum.groesse > 100 " \
        "And Belegung.semester = SS19"

In [4]:
test_query.parse(query)

In [5]:
test_query.select

['Raum.kurzel', 'Belegung.tag', 'Belegung.uhrzeit']

In [6]:
test_query.from_

['Belegung', 'Raum']

In [7]:
test_query.where

['Belegung.raum = Raum.kuerzel',
 'Raum.groesse > 100',
 'Belegung.semester = SS19']

In [8]:
test_query.where_join

[['Belegung', 'raum', 'Raum', 'kuerzel']]

In [9]:
test_query.where_cond

[['Raum.groesse', <function _operator.gt>, 100.0],
 ['Belegung.semester', <function _operator.eq>, 'SS19']]

In [10]:
condition = 'Belegung.raum = Raum.kuerzel'

In [15]:
join_list = test_query.where_join

In [18]:
join_list[0][0]

'Belegung'

In [47]:
a = 't1.f1'
b = 't2.f2'

In [50]:
a.split('.') + b.split('.')

['t1', 'f1', 't2', 'f2']

In [10]:
test_op = '>'

In [12]:
2 eval(test_op) 3

SyntaxError: invalid syntax (<ipython-input-12-6efbd7b551c2>, line 1)

In [ ]:
a = [['test', 'test', 'a', 'b', 20], ['']]

In [10]:
name.split(', ')

['Oiml']

In [11]:
import database

In [12]:
db = database.Database()

In [14]:
db.add_table('Belegung', 'resources/belegung.csv')

In [25]:
db.add_table('Raum', 'resources/raum.csv')

In [26]:
a = list(db.tables.keys())
a

['Belegung', 'Raum']

In [27]:
not a

False

In [33]:
a = 'FROM from WHERE where AND and'

In [34]:
a.replace('SELECT', 'Select').replace('select', 'Select')

'FROM from WHERE where AND and'

In [2]:
import os

In [3]:
os.path.isfile('resources')

False

In [4]:
test = table.Table('test', 'resources')

File not found

In [8]:
not test.data

True