In [1]:
import table

In [2]:
read_file = "./resources/test.csv"

In [3]:
test = table.Table("test", read_file)

In [4]:
test.present()

+--------------------------+--------+-----+---------+----------+
|         Kuerzel          |  Raum  | Tag | Uhrzeit | Semester |
+--------------------------+--------+-----+---------+----------+
|  Di_10_12_Z6_HS4_SS_19   | Z6_HS4 |  Di |  10_12  |  SS_19   |
|   Do_8_10_Z6_HS4_SS_19   | Z6_HS4 |  Do |   8_10  |  SS_19   |
|  Di_10_12_Z6_HS4_SS_18   | Z6_HS4 |  Di |  10_12  |  SS_18   |
|   Do_8_10_Z6_HS4_SS_18   | Z6_HS4 |  Do |   8_10  |  SS_18   |
| Mi_14_16_Z6_HS1_WS_19_20 | Z6_HS1 |  Mi |  14_16  | WS_19_20 |
| Mi_16_18_Z6_HS1_WS_19_20 | Z6_HS1 |  Mi |  16_18  | WS_19_20 |
| Mi_14_16_Z6_HS1_WS_18_19 | Z6_HS1 |  Mi |  14_16  | WS_18_19 |
| Mi_16_18_Z6_HS1_WS_18_19 | Z6_HS1 |  Mi |  16_18  | WS_18_19 |
+--------------------------+--------+-----+---------+----------+

In [5]:
select = ['test.Uhrzeit', '=', '10_12']

In [6]:
test.select(select)

<built-in function eq>

In [7]:
test.present()

+-----------------------+--------+-----+---------+----------+
|        Kuerzel        |  Raum  | Tag | Uhrzeit | Semester |
+-----------------------+--------+-----+---------+----------+
| Di_10_12_Z6_HS4_SS_19 | Z6_HS4 |  Di |  10_12  |  SS_19   |
| Di_10_12_Z6_HS4_SS_18 | Z6_HS4 |  Di |  10_12  |  SS_18   |
+-----------------------+--------+-----+---------+----------+

In [8]:
def select(table, condition):
    # TODO: Perhaps change to condition[0] is just field and name will be parsed in upper database class
    name, field = condition[0].split('.')
    op = convert_to_operator(condition[1])
    data = table.data
    print(op)
    value = condition[2]
    if name != self.name:
        raise Warning('Table in select condition is different from this table')
    elif not self.is_valid_field(field):
        raise Warning('Table does not have specified field name')
    else:
        column = table.index(field)
        for idx, row in enumerate(self.data):
            if not op(row[column], value):
                print(len(table.data))
                del data[idx]
        table.data = data

+--------------------------+--------+-----+---------+----------+
|         Kuerzel          |  Raum  | Tag | Uhrzeit | Semester |
+--------------------------+--------+-----+---------+----------+
|  Di_10_12_Z6_HS4_SS_19   | Z6_HS4 |  Di |  10_12  |  SS_19   |
|  Di_10_12_Z6_HS4_SS_18   | Z6_HS4 |  Di |  10_12  |  SS_18   |
| Mi_14_16_Z6_HS1_WS_19_20 | Z6_HS1 |  Mi |  14_16  | WS_19_20 |
| Mi_14_16_Z6_HS1_WS_18_19 | Z6_HS1 |  Mi |  14_16  | WS_18_19 |
+--------------------------+--------+-----+---------+----------+

In [1]:
import query as qu

In [2]:
test_query = qu.Query()

In [3]:
query = "Select Raum.kurzel, Belegung.tag, Belegung.uhrzeit " \
        "From Belegung, Raum " \
        "Where Belegung.raum = Raum.kuerzel " \
        "And Raum.groesse > 100 " \
        "And Belegung.semester = SS19"

In [4]:
test_query.parse(query)

In [5]:
test_query.select

['Raum.kurzel', 'Belegung.tag', 'Belegung.uhrzeit']

In [6]:
test_query.from_

['Belegung', 'Raum']

In [7]:
test_query.where

['Belegung.raum = Raum.kuerzel',
 'Raum.groesse > 100',
 'Belegung.semester = SS19']

In [8]:
test_query.where_join

[['Belegung', 'raum', 'Raum', 'kuerzel']]

In [9]:
test_query.where_cond

[['Raum.groesse', <function _operator.gt>, 100.0],
 ['Belegung.semester', <function _operator.eq>, 'SS19']]

In [10]:
condition = 'Belegung.raum = Raum.kuerzel'

In [15]:
join_list = test_query.where_join

In [18]:
join_list[0][0]

'Belegung'

In [47]:
a = 't1.f1'
b = 't2.f2'

In [50]:
a.split('.') + b.split('.')

['t1', 'f1', 't2', 'f2']

In [10]:
test_op = '>'

In [12]:
2 eval(test_op) 3

SyntaxError: invalid syntax (<ipython-input-12-6efbd7b551c2>, line 1)

In [ ]:
a = [['test', 'test', 'a', 'b', 20], ['']]