In [8]:
a = 'Belegung,Raum, Gebaeude,Stundenplan'
a = a.split(',')
a

['Belegung', 'Raum', ' Gebaeude', 'Stundenplan']

In [9]:
a = [word.strip(' ') for word in a]

In [14]:
querystring = 'Select table1.field1, table2.field2 From table1, table2 Where table1.field1 = table2.field2'

In [15]:
import query

In [16]:
my_query = query.Query()

In [21]:
my_query.parse(a)

False

In [24]:
operators = ['=', '<', '>', '<=', '>=', '<>', '!=']

In [22]:
a = 'select table1.field1, table2.field2 FROM table1, table2 Where table1.field1 = table2.field2'

In [33]:
a = a.replace('SELECT', 'Select').replace('select', 'Select')\
            .replace('FROM', 'From').replace('from', 'From')\
            .replace('WHERE', 'Where').replace('where', 'Where')\
            .replace('AND', 'And').replace('and', 'And')

In [34]:
iswhere = False
for operator in operators:
    if operator in a:
        iswhere = True
iswhere

True

In [35]:
if 'Select' not in a or 'From' not in a or (iswhere and 'Where' not in a):
    print(False)

In [40]:
a

'Select table1.field1, table2.field2 From table1, table2 Where table1.field1 = table2.field2'

In [43]:
select, rest = a.split('From')
select = select.replace('Select', '').split(',')
select = [a.strip(' ') for a in select]
select, rest

(['table1.field1', 'table2.field2'],
 ' table1, table2 Where table1.field1 = table2.field2')

In [50]:
from_, where = rest.split('Where')
from_ = from_.split(',')
from_ = [table.strip(' ') for table in from_]
where = where.split('And')
where = [cond.strip(' ') for cond in where]
from_, where

(['table1', 'table2'], ['table1.field1 = table2.field2'])

In [76]:
import table

In [78]:
tbl = table.Table('test')