In [1]:
read_file = "./resources/test.csv"

In [39]:
daten_lite = []
with open(read_file, "r", encoding='utf-8-sig') as f:
    for idx, line in enumerate(f):
        line = line.rstrip('\n')
        line = line.split(";")
        if(idx == 0):
            spalten_lite = line
        else:
            daten_lite.append(line)
spalten_lite, daten_lite

(['Vorname', 'Name', 'Kuerzel', 'Budget', 'Hausnummer'],
 [['Max', 'Mustermann', 'MM', '50000', '3c'],
  ['Angela', 'Berkel', 'AB', '100000', '5'],
  ['Horst', 'Flamer', 'HF', '30000', '20b']])

In [43]:
with open(read_file, "r", encoding='utf-8-sig') as f:
    print(f.read().splitlines().split(';'))

AttributeError: 'list' object has no attribute 'split'

In [12]:
import pandas as pd

In [15]:
data = pd.read_csv(read_file, delimiter=';')

In [19]:
spalten = list(data)
spalten

['Vorname', 'Name', 'Kuerzel', 'Budget', 'Hausnummer']

In [22]:
daten = data.values.tolist()
daten

[['Max', 'Mustermann', 'MM', 50000, '3c'],
 ['Angela', 'Berkel', 'AB', 100000, '5'],
 ['Horst', 'Flamer', 'HF', 30000, '20b']]

In [20]:
neuer_eintrag = ['Amar', 'Hekalo', 'AH', 20000, '1c']

In [23]:
daten.append(neuer_eintrag)

In [24]:
daten

[['Max', 'Mustermann', 'MM', 50000, '3c'],
 ['Angela', 'Berkel', 'AB', 100000, '5'],
 ['Horst', 'Flamer', 'HF', 30000, '20b'],
 ['Amar', 'Hekalo', 'AH', 20000, '1c']]

In [25]:
spalten.index("Vorname")

0